.section {
  max-width: 400px;
  padding: 20px 10px;
  //   background-color: tomato;
  //   border: 2px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

.title {
  font-weight: 500;
  margin: 0;
  margin-bottom: 22px;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
